body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  color: dimgray;
}
.name_heaighlight {
  color: orange;
}
.half_width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half_width img {
  width: 100%;
}
.top_banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.link-button {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  font-size: 17px;
}
.experiences_area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.dream_top {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.single_xp {
  box-shadow: 10px 10px 40px gray;
  height: 80%;
  border-radius: 5px;
  background-color: white;
}
#full-stack {
  border-left: 5px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
#baby_web {
  border-left: 5px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
  font-size: 16px;
}
